body {
    margin: 0; /* Remover margens padrão do corpo */
    padding: 0; /* Remover preenchimento padrão do corpo */
}

.menu-container {
    background-color: #ffffff; /* Cor de fundo da caixa do menu */
    border: 1px solid #000000; /* Borda da caixa do menu */
    padding: 10px; /* Espaçamento interno da caixa do menu */
    width: 200px; /* Largura da caixa do menu */
    position: fixed; /* Para manter a posição fixa na tela */
    top: 100px; /* Para fixar a caixa do menu 10 pixels do topo da janela */
    bottom: 100px; /* Para fixar a caixa do menu 10 pixels do fundo da janela */
    left: 10px; /* Para fixar a caixa do menu 10 pixels do lado esquerdo da janela */
    z-index: 1; /* Garantir que a caixa do menu esteja na frente do degradê de fundo */
}

/* Estilos para os itens da lista do menu */
.menu {
    list-style-type: none;
    padding: 10px; /* Adicione a margem desejada aqui */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start; /* Alinha os itens à esquerda */
}

.menu li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
}

.menu li:last-child {
    margin-bottom: 0; /* Remove o espaçamento inferior do último item da lista */
}

.menu li a {
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 10px 0; /* Aumenta o espaçamento interno dos itens */
    font-family: "Arial Rounded MT Bold", sans-serif; /* Fonte arredondada */
    font-size: 18px; /* Tamanho da fonte aumentado */
    margin-bottom: 10px; /* Espaçamento entre os itens */
    transition: margin-left 0.2s ease; /* Adiciona uma transição para o deslocamento do item */
    position: relative; /* Adiciona posição relativa ao item do menu */
    display: inline-block; /* Permite que os elementos se comportem como blocos */
}

.menu li a:hover {
    margin-left: 5px; /* Desloca o item para a esquerda ao passar o mouse */
}

.menu li a:hover::after {
    background-color: black; /* Cor mais escura para a linha ao passar o mouse */
}

.menu li a.ativo {
    margin-left: 5px; /* Deslocamento do item */
}

.menu li a.ativo::after {
    content: ''; /* Adiciona conteúdo ao pseudo-elemento */
    position: absolute; /* Posiciona o pseudo-elemento absolutamente em relação ao item do menu */
    bottom: 0; /* Posiciona o pseudo-elemento na parte inferior do item do menu */
    left: 50%; /* Alinha o pseudo-elemento à metade do item do menu */
    transform: translateX(-50%); /* Move o pseudo-elemento para a esquerda pela metade da largura do próprio elemento */
    width: 50%; /* Define a largura da linha como 50% da largura do item do menu */
    height: 2px; /* Define a altura da linha */
    background-color: #A9A9A9; /* Cor um pouco mais clara para a linha */
    transition: background-color 0.2s ease; /* Adiciona uma transição para a mudança de cor */
}

/* Fundo em degradê de azul claro para rosa claro */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #add8e6, #ffd9e1); /* Modificação das cores */
    z-index: -1; /* Para colocar o degradê atrás de todo o conteúdo */
}

.informacoes {
    position: fixed;
    top: 225px; /* Posicionamento abaixo da caixa do menu */
    left: 300px; /* Posicionamento ao lado da caixa do menu */
    right: 50px; /* Espaçamento lateral direito */
    bottom: 100px; /* Espaçamento inferior */
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura */
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    z-index: 2; /* Garante que as informações estejam acima do menu */
    display: none; /* Inicialmente oculta a caixa de informações */
}

.caixa-informacoes {
    background-color: #ffffff;
    padding: 20px;
    width: 300px;
    max-width: 80%; /* Defina o tamanho máximo conforme necessário */
    max-height: 80%; /* Defina a altura máxima conforme necessário */
    overflow: auto; /* Adiciona rolagem se o conteúdo exceder a altura máxima */
}

.caixa-pesquisa {
    position: absolute;
    top: 140px !important; /* Posicionamento um pouco mais para baixo */
    left: 920px !important; /* Mesma posição horizontal que a caixa de informações */
    z-index: 2;
    display: flex; /* Usa flexbox */
    align-items: center; /* Alinha os itens verticalmente */
}

.caixa-pesquisa input[type="text"] {
    width: calc(800px); /* Largura ajustada para alinhar com o botão */
    margin-right: 10px;
    padding: 8px; /* Ajuste do preenchimento interno */
}

.caixa-pesquisa input[type="text"],
.caixa-pesquisa button {
    font-family: "Arial Rounded MT Bold", sans-serif;
    font-size: 16px;
}

.caixa-pesquisa button {
    width: 120px; /* Largura do botão */
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.caixa-pesquisa button:hover {
    background-color: #ebb52c; /* Cor de destaque quando passar o mouse */
}

.caixa-pesquisa-funcionarios {
    left: 790px !important; /* Ajusta a posição para a esquerda */
}

.botoes-container {
    display: flex; /* Define o contêiner como um elemento flexível */
    align-items: center; /* Alinha os itens verticalmente */
}

.caixa-pesquisa .botao-cadastrar {
    width: 120px; /* Largura do botão */
    background-color: rgb(3, 139, 3); /* Cor verde */
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    margin-left: 10px; /* Adiciona margem à esquerda para separar os botões */
}

.caixa-pesquisa .botao-cadastrar:hover {
    background-color: rgb(20, 177, 20); /* Cor de destaque quando passar o mouse */
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparência para o fundo */
    z-index: 9999; /* Garantir que o overlay esteja na frente de outros elementos */
}

/* Estilos para o formulário de cadastro */
.formulario-cadastro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    z-index: 10000; /* Garantir que o formulário esteja na frente do overlay */
    border: 1px solid #ffffff; /* Adiciona uma borda branca */
}


.formulario-cadastro input,
.formulario-cadastro textarea,
.formulario-cadastro select,
.formulario-cadastro button {
    font-size: 18px; /* Ajusta o tamanho da fonte para os campos de entrada, áreas de texto, seletores e botões */
    border-radius: 5px; /* Arredonda as bordas */
    font-family: 'Arial Rounded MT Bold', sans-serif; /* Define a fonte mais arredondada */
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao focar */
    box-shadow: none; /* Remove o sombreado */
}

/* Estilos para os botões dentro do formulário de cadastro */
.formulario-cadastro button[type="submit"],
.formulario-cadastro button[type="button"] {
    width: 120px; /* Largura do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda do botão */
    padding: 8px 12px; /* Preenchimento interno do botão */
    cursor: pointer; /* Cursor do mouse ao passar sobre o botão */
    margin-top: 10px; /* Espaçamento superior entre os botões */
    border-radius: 10px; /* Arredonda as bordas */
    font-family: 'Arial Rounded MT Bold', sans-serif; /* Define a fonte mais arredondada */
    transition: background-color 0.3s; /* Adiciona uma transição para suavizar a mudança de cor */
}

/* Estilos para o botão de fechar */
.formulario-cadastro button[type="button"] {
    background-color: rgb(141, 10, 10); /* Cor de fundo do botão de fechar */
}

/* Estilos para o hover do botão de fechar */
.formulario-cadastro button[type="button"]:hover {
    background-color: rgba(209, 53, 53, 0.884); /* Cor de fundo do botão de fechar */
}

/* Estilos para o botão de cadastrar */
.formulario-cadastro button[type="submit"] {
    background-color: rgb(3, 139, 3); /* Cor verde */
}

/* Estilos para o hover do botão de cadastrar */
.formulario-cadastro button[type="submit"]:hover {
    background-color: rgb(20, 177, 20); /* Cor verde */
}

/* Estilos para os rótulos dos campos dentro do formulário */
.formulario-cadastro label {
    font-size: 18px; /* Ajusta o tamanho da fonte para os rótulos dos campos */
}

.formulario-cadastro h2 {
    background-color: #ffffff; /* Define um fundo branco para o título */
    padding: 10px; /* Adiciona preenchimento para separar o texto do fundo */
    border-radius: 5px 5px 5px 5px; /* Arredonda apenas os cantos superiores do título */
    margin-top: 0; /* Remove qualquer margem superior padrão */
    margin-bottom: 20px; /* Adiciona um espaçamento inferior para separar o título dos campos */
}